@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  border-radius: 8px;
}

.file-area {
  padding: 20px;
  border: 5px dashed #ebebeb;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
