@import url("./fonts.css");
@import url("./highlight.css");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  border-radius: 8px;
}

.darkStyle {
  filter: invert(0.9) hue-rotate(180deg);
}

.darkStyle canvas {
  filter: invert(1) hue-rotate(180deg);
}

.darkStyle .MuiPaper-root {
  box-shadow: none;
}

.darkStyle .codeBox pre {
  background-color: #ebebeb;
}

.darkStyle .codeBox .language-javascript {
  background-color: #ebebeb;
  color: #3f3f3f;
}

.darkStyle .nextBtnHs {
  background-color: #c4c6c7;
  color: #000;
  box-shadow: none;
}

.darkStyle .nextBtnHs:hover {
  background-color: #d8d7d7;
  box-shadow: none;
}

.MuiListItem-container {
  margin: 4px;
}

.MuiListItemText-primary {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
